<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/6429933a54.js" crossorigin="anonymous"></script>
        <link rel="icon" href="{{asset('./images/login.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-spy="scroll" data-target="#navbarNav" data-offset="50">
        {% block body %}{% endblock %}
    </body>
</html>
